

#ja-bulletin ul li {
  *zoom: 1;
}
#ja-bulletin ul li:before,
#ja-bulletin ul li:after {
  display: table;
  content: "";
  line-height: 0;
}
#ja-bulletin ul li:after {
  clear: both;
}
#ja-bulletin ul li a {
  font-size: 11px;
  color: #444;
}
#ja-bulletin ul li a:hover {
  color: #ff5243;
  text-decoration: none;
}
#ja-bulletin ul span {
  font-size: 11px;
}
#ja-bulletin ul span.number {
  font-size: 12px;
  color: #fff;
}

