

@media (min-width: 980px) and (max-width: 1199px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 976px;
  }
  .span12 {
    width: 976px;
  }
  .span11 {
    width: 893px;
  }
  .span10 {
    width: 810px;
  }
  .span9 {
    width: 727px;
  }
  .span8 {
    width: 644px;
  }
  .span7 {
    width: 561px;
  }
  .span6 {
    width: 478px;
  }
  .span5 {
    width: 395px;
  }
  .span4 {
    width: 312px;
  }
  .span3 {
    width: 229px;
  }
  .span2 {
    width: 146px;
  }
  .span1 {
    width: 63px;
  }
  .offset12 {
    margin-left: 1016px;
  }
  .offset11 {
    margin-left: 933px;
  }
  .offset10 {
    margin-left: 850px;
  }
  .offset9 {
    margin-left: 767px;
  }
  .offset8 {
    margin-left: 684px;
  }
  .offset7 {
    margin-left: 601px;
  }
  .offset6 {
    margin-left: 518px;
  }
  .offset5 {
    margin-left: 435px;
  }
  .offset4 {
    margin-left: 352px;
  }
  .offset3 {
    margin-left: 269px;
  }
  .offset2 {
    margin-left: 186px;
  }
  .offset1 {
    margin-left: 103px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.04918032787%;
    *margin-left: 1.99795081967%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.04918032787%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.9487704918%;
  }
  .row-fluid .span11 {
    width: 91.4959016393%;
    *width: 91.4446721311%;
  }
  .row-fluid .span10 {
    width: 82.9918032787%;
    *width: 82.9405737705%;
  }
  .row-fluid .span9 {
    width: 74.487704918%;
    *width: 74.4364754098%;
  }
  .row-fluid .span8 {
    width: 65.9836065574%;
    *width: 65.9323770492%;
  }
  .row-fluid .span7 {
    width: 57.4795081967%;
    *width: 57.4282786885%;
  }
  .row-fluid .span6 {
    width: 48.9754098361%;
    *width: 48.9241803279%;
  }
  .row-fluid .span5 {
    width: 40.4713114754%;
    *width: 40.4200819672%;
  }
  .row-fluid .span4 {
    width: 31.9672131148%;
    *width: 31.9159836066%;
  }
  .row-fluid .span3 {
    width: 23.4631147541%;
    *width: 23.4118852459%;
  }
  .row-fluid .span2 {
    width: 14.9590163934%;
    *width: 14.9077868852%;
  }
  .row-fluid .span1 {
    width: 6.45491803279%;
    *width: 6.40368852459%;
  }
  .row-fluid .offset12 {
    margin-left: 104.098360656%;
    *margin-left: 103.995901639%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.049180328%;
    *margin-left: 101.946721311%;
  }
  .row-fluid .offset11 {
    margin-left: 95.5942622951%;
    *margin-left: 95.4918032787%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 93.5450819672%;
    *margin-left: 93.4426229508%;
  }
  .row-fluid .offset10 {
    margin-left: 87.0901639344%;
    *margin-left: 86.987704918%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.0409836066%;
    *margin-left: 84.9385245902%;
  }
  .row-fluid .offset9 {
    margin-left: 78.5860655738%;
    *margin-left: 78.4836065574%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.5368852459%;
    *margin-left: 76.4344262295%;
  }
  .row-fluid .offset8 {
    margin-left: 70.0819672131%;
    *margin-left: 69.9795081967%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.0327868852%;
    *margin-left: 67.9303278689%;
  }
  .row-fluid .offset7 {
    margin-left: 61.5778688525%;
    *margin-left: 61.4754098361%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.5286885246%;
    *margin-left: 59.4262295082%;
  }
  .row-fluid .offset6 {
    margin-left: 53.0737704918%;
    *margin-left: 52.9713114754%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.0245901639%;
    *margin-left: 50.9221311475%;
  }
  .row-fluid .offset5 {
    margin-left: 44.5696721311%;
    *margin-left: 44.4672131148%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.5204918033%;
    *margin-left: 42.4180327869%;
  }
  .row-fluid .offset4 {
    margin-left: 36.0655737705%;
    *margin-left: 35.9631147541%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.0163934426%;
    *margin-left: 33.9139344262%;
  }
  .row-fluid .offset3 {
    margin-left: 27.5614754098%;
    *margin-left: 27.4590163934%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.512295082%;
    *margin-left: 25.4098360656%;
  }
  .row-fluid .offset2 {
    margin-left: 19.0573770492%;
    *margin-left: 18.9549180328%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.0081967213%;
    *margin-left: 16.9057377049%;
  }
  .row-fluid .offset1 {
    margin-left: 10.5532786885%;
    *margin-left: 10.4508196721%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.50409836066%;
    *margin-left: 8.40163934426%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 962px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 879px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 796px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 713px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 630px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 547px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 464px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 381px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 298px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 215px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 132px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 49px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .offset-12 {
    margin-left: -736px;
  }
  .offset-11 {
    margin-left: -673px;
  }
  .offset-10 {
    margin-left: -610px;
  }
  .offset-9 {
    margin-left: -547px;
  }
  .offset-8 {
    margin-left: -484px;
  }
  .offset-7 {
    margin-left: -421px;
  }
  .offset-6 {
    margin-left: -358px;
  }
  .offset-5 {
    margin-left: -295px;
  }
  .offset-4 {
    margin-left: -232px;
  }
  .offset-3 {
    margin-left: -169px;
  }
  .offset-2 {
    margin-left: -106px;
  }
  .offset-1 {
    margin-left: -43px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .offset-12 {
    margin-left: -976px;
  }
  .offset-11 {
    margin-left: -893px;
  }
  .offset-10 {
    margin-left: -810px;
  }
  .offset-9 {
    margin-left: -727px;
  }
  .offset-8 {
    margin-left: -644px;
  }
  .offset-7 {
    margin-left: -561px;
  }
  .offset-6 {
    margin-left: -478px;
  }
  .offset-5 {
    margin-left: -395px;
  }
  .offset-4 {
    margin-left: -312px;
  }
  .offset-3 {
    margin-left: -229px;
  }
  .offset-2 {
    margin-left: -146px;
  }
  .offset-1 {
    margin-left: -63px;
  }
}
@media (min-width: 1200px) {
  .offset-12 {
    margin-left: -976px;
  }
  .offset-11 {
    margin-left: -893px;
  }
  .offset-10 {
    margin-left: -810px;
  }
  .offset-9 {
    margin-left: -727px;
  }
  .offset-8 {
    margin-left: -644px;
  }
  .offset-7 {
    margin-left: -561px;
  }
  .offset-6 {
    margin-left: -478px;
  }
  .offset-5 {
    margin-left: -395px;
  }
  .offset-4 {
    margin-left: -312px;
  }
  .offset-3 {
    margin-left: -229px;
  }
  .offset-2 {
    margin-left: -146px;
  }
  .offset-1 {
    margin-left: -63px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .row,
  .row-fluid {
    width: 100%;
    margin-left: 0;
    *zoom: 1;
  }
  .row:before,
  .row:after,
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after,
  .row-fluid:after {
    clear: both;
  }
  .row [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.71739130435%;
    *margin-left: 2.66616179615%;
  }
  .row [class*="span"]:first-child:not(.pull-right),
  .row-fluid [class*="span"]:first-child:not(.pull-right) {
    margin-left: 0;
  }
  .row [class*="span"].pull-right:first-child + [class*="span"]:not(.pull-right),
  .row-fluid [class*="span"].pull-right:first-child + [class*="span"]:not(.pull-right) {
    margin-left: 0;
  }
  .row .span12,
  .row-fluid .span12 {
    width: 100%;
    *width: 99.9487704918%;
  }
  .row .span11,
  .row-fluid .span11 {
    width: 91.4402173913%;
    *width: 91.3889878831%;
  }
  .row .span10,
  .row-fluid .span10 {
    width: 82.8804347826%;
    *width: 82.8292052744%;
  }
  .row .span9,
  .row-fluid .span9 {
    width: 74.3206521739%;
    *width: 74.2694226657%;
  }
  .row .span8,
  .row-fluid .span8 {
    width: 65.7608695652%;
    *width: 65.709640057%;
  }
  .row .span7,
  .row-fluid .span7 {
    width: 57.2010869565%;
    *width: 57.1498574483%;
  }
  .row .span6,
  .row-fluid .span6 {
    width: 48.6413043478%;
    *width: 48.5900748396%;
  }
  .row .span5,
  .row-fluid .span5 {
    width: 40.0815217391%;
    *width: 40.0302922309%;
  }
  .row .span4,
  .row-fluid .span4 {
    width: 31.5217391304%;
    *width: 31.4705096222%;
  }
  .row .span3,
  .row-fluid .span3 {
    width: 22.9619565217%;
    *width: 22.9107270135%;
  }
  .row .span2,
  .row-fluid .span2 {
    width: 14.402173913%;
    *width: 14.3509444048%;
  }
  .row .span1,
  .row-fluid .span1 {
    width: 5.84239130435%;
    *width: 5.79116179615%;
  }
  .span12 .row [class*="span"] {
    margin-left: 2.71739130435%;
    *margin-left: 2.66616179615%;
  }
  .span12 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span12 .row .span12 {
    width: 100%;
    *width: 99.9487704918%;
  }
  .span12 .row .span11 {
    width: 91.4402173913%;
    *width: 91.3889878831%;
  }
  .span12 .row .span10 {
    width: 82.8804347826%;
    *width: 82.8292052744%;
  }
  .span12 .row .span9 {
    width: 74.3206521739%;
    *width: 74.2694226657%;
  }
  .span12 .row .span8 {
    width: 65.7608695652%;
    *width: 65.709640057%;
  }
  .span12 .row .span7 {
    width: 57.2010869565%;
    *width: 57.1498574483%;
  }
  .span12 .row .span6 {
    width: 48.6413043478%;
    *width: 48.5900748396%;
  }
  .span12 .row .span5 {
    width: 40.0815217391%;
    *width: 40.0302922309%;
  }
  .span12 .row .span4 {
    width: 31.5217391304%;
    *width: 31.4705096222%;
  }
  .span12 .row .span3 {
    width: 22.9619565217%;
    *width: 22.9107270135%;
  }
  .span12 .row .span2 {
    width: 14.402173913%;
    *width: 14.3509444048%;
  }
  .span12 .row .span1 {
    width: 5.84239130435%;
    *width: 5.79116179615%;
  }
  .span11 .row [class*="span"] {
    margin-left: 2.97176820208%;
    *margin-left: 2.92053869388%;
  }
  .span11 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span11 .row .span11 {
    width: 91.4402173913%;
    *width: 91.3889878831%;
  }
  .span11 .row .span10 {
    width: 82.8804347826%;
    *width: 82.8292052744%;
  }
  .span11 .row .span9 {
    width: 74.3206521739%;
    *width: 74.2694226657%;
  }
  .span11 .row .span8 {
    width: 65.7608695652%;
    *width: 65.709640057%;
  }
  .span11 .row .span7 {
    width: 57.2010869565%;
    *width: 57.1498574483%;
  }
  .span11 .row .span6 {
    width: 48.6413043478%;
    *width: 48.5900748396%;
  }
  .span11 .row .span5 {
    width: 40.0815217391%;
    *width: 40.0302922309%;
  }
  .span11 .row .span4 {
    width: 31.5217391304%;
    *width: 31.4705096222%;
  }
  .span11 .row .span3 {
    width: 22.9619565217%;
    *width: 22.9107270135%;
  }
  .span11 .row .span2 {
    width: 14.402173913%;
    *width: 14.3509444048%;
  }
  .span11 .row .span1 {
    width: 5.84239130435%;
    *width: 5.79116179615%;
  }
  .span10 .row [class*="span"] {
    margin-left: 3.27868852459%;
    *margin-left: 3.22745901639%;
  }
  .span10 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span10 .row .span10 {
    width: 90.6389301634%;
    *width: 90.5877006553%;
  }
  .span10 .row .span9 {
    width: 81.2778603269%;
    *width: 81.2266308187%;
  }
  .span10 .row .span8 {
    width: 71.9167904903%;
    *width: 71.8655609821%;
  }
  .span10 .row .span7 {
    width: 62.5557206538%;
    *width: 62.5044911456%;
  }
  .span10 .row .span6 {
    width: 53.1946508172%;
    *width: 53.143421309%;
  }
  .span10 .row .span5 {
    width: 43.8335809807%;
    *width: 43.7823514725%;
  }
  .span10 .row .span4 {
    width: 34.4725111441%;
    *width: 34.4212816359%;
  }
  .span10 .row .span3 {
    width: 25.1114413076%;
    *width: 25.0602117994%;
  }
  .span10 .row .span2 {
    width: 15.750371471%;
    *width: 15.6991419628%;
  }
  .span10 .row .span1 {
    width: 6.38930163447%;
    *width: 6.33807212628%;
  }
  .span9 .row [class*="span"] {
    margin-left: 3.6563071298%;
    *margin-left: 3.6050776216%;
  }
  .span9 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span9 .row .span9 {
    width: 89.6721311475%;
    *width: 89.6209016393%;
  }
  .span9 .row .span8 {
    width: 79.3442622951%;
    *width: 79.2930327869%;
  }
  .span9 .row .span7 {
    width: 69.0163934426%;
    *width: 68.9651639344%;
  }
  .span9 .row .span6 {
    width: 58.6885245902%;
    *width: 58.637295082%;
  }
  .span9 .row .span5 {
    width: 48.3606557377%;
    *width: 48.3094262295%;
  }
  .span9 .row .span4 {
    width: 38.0327868852%;
    *width: 37.981557377%;
  }
  .span9 .row .span3 {
    width: 27.7049180328%;
    *width: 27.6536885246%;
  }
  .span9 .row .span2 {
    width: 17.3770491803%;
    *width: 17.3258196721%;
  }
  .span9 .row .span1 {
    width: 7.04918032787%;
    *width: 6.99795081967%;
  }
  .span8 .row [class*="span"] {
    margin-left: 4.13223140496%;
    *margin-left: 4.08100189676%;
  }
  .span8 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span8 .row .span8 {
    width: 88.4826325411%;
    *width: 88.4314030329%;
  }
  .span8 .row .span7 {
    width: 76.9652650823%;
    *width: 76.9140355741%;
  }
  .span8 .row .span6 {
    width: 65.4478976234%;
    *width: 65.3966681152%;
  }
  .span8 .row .span5 {
    width: 53.9305301645%;
    *width: 53.8793006563%;
  }
  .span8 .row .span4 {
    width: 42.4131627057%;
    *width: 42.3619331975%;
  }
  .span8 .row .span3 {
    width: 30.8957952468%;
    *width: 30.8445657386%;
  }
  .span8 .row .span2 {
    width: 19.3784277879%;
    *width: 19.3271982797%;
  }
  .span8 .row .span1 {
    width: 7.86106032907%;
    *width: 7.80983082087%;
  }
  .span7 .row [class*="span"] {
    margin-left: 4.75059382423%;
    *margin-left: 4.69936431603%;
  }
  .span7 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span7 .row .span7 {
    width: 86.9834710744%;
    *width: 86.9322415662%;
  }
  .span7 .row .span6 {
    width: 73.9669421488%;
    *width: 73.9157126406%;
  }
  .span7 .row .span5 {
    width: 60.9504132231%;
    *width: 60.8991837149%;
  }
  .span7 .row .span4 {
    width: 47.9338842975%;
    *width: 47.8826547893%;
  }
  .span7 .row .span3 {
    width: 34.9173553719%;
    *width: 34.8661258637%;
  }
  .span7 .row .span2 {
    width: 21.9008264463%;
    *width: 21.8495969381%;
  }
  .span7 .row .span1 {
    width: 8.88429752066%;
    *width: 8.83306801246%;
  }
  .span6 .row [class*="span"] {
    margin-left: 5.58659217877%;
    *margin-left: 5.53536267057%;
  }
  .span6 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span6 .row .span6 {
    width: 85.0356294537%;
    *width: 84.9843999455%;
  }
  .span6 .row .span5 {
    width: 70.0712589074%;
    *width: 70.0200293992%;
  }
  .span6 .row .span4 {
    width: 55.106888361%;
    *width: 55.0556588528%;
  }
  .span6 .row .span3 {
    width: 40.1425178147%;
    *width: 40.0912883065%;
  }
  .span6 .row .span2 {
    width: 25.1781472684%;
    *width: 25.1269177602%;
  }
  .span6 .row .span1 {
    width: 10.2137767221%;
    *width: 10.1625472139%;
  }
  .span5 .row [class*="span"] {
    margin-left: 6.77966101695%;
    *margin-left: 6.72843150875%;
  }
  .span5 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span5 .row .span5 {
    width: 82.4022346369%;
    *width: 82.3510051287%;
  }
  .span5 .row .span4 {
    width: 64.8044692737%;
    *width: 64.7532397655%;
  }
  .span5 .row .span3 {
    width: 47.2067039106%;
    *width: 47.1554744024%;
  }
  .span5 .row .span2 {
    width: 29.6089385475%;
    *width: 29.5577090393%;
  }
  .span5 .row .span1 {
    width: 12.0111731844%;
    *width: 11.9599436762%;
  }
  .span4 .row [class*="span"] {
    margin-left: 8.62068965517%;
    *margin-left: 8.56946014698%;
  }
  .span4 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span4 .row .span4 {
    width: 78.6440677966%;
    *width: 78.5928382884%;
  }
  .span4 .row .span3 {
    width: 57.2881355932%;
    *width: 57.236906085%;
  }
  .span4 .row .span2 {
    width: 35.9322033898%;
    *width: 35.8809738816%;
  }
  .span4 .row .span1 {
    width: 14.5762711864%;
    *width: 14.5250416782%;
  }
  .span3 .row [class*="span"] {
    margin-left: 11.8343195266%;
    *margin-left: 11.7830900184%;
  }
  .span3 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span3 .row .span3 {
    width: 72.8448275862%;
    *width: 72.793598078%;
  }
  .span3 .row .span2 {
    width: 45.6896551724%;
    *width: 45.6384256642%;
  }
  .span3 .row .span1 {
    width: 18.5344827586%;
    *width: 18.4832532504%;
  }
  .span2 .row [class*="span"] {
    margin-left: 18.8679245283%;
    *margin-left: 18.8166950201%;
  }
  .span2 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span2 .row .span2 {
    width: 62.7218934911%;
    *width: 62.6706639829%;
  }
  .span2 .row .span1 {
    width: 25.4437869822%;
    *width: 25.3925574741%;
  }
  .span1 .row [class*="span"] {
    margin-left: 46.511627907%;
    *margin-left: 46.4603983988%;
  }
  .span1 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span1 .row .span1 {
    width: 40.5660377358%;
    *width: 40.5148082277%;
  }
  .spanfirst {
    margin-left: 0 !important;
    clear: left;
  }
}
.row .span50,
.row-fluid .span50 {
  width: 50%;
  float: left;
}
.row .span33,
.row-fluid .span33 {
  width: 33.3333%;
  float: left;
}
.row .span25,
.row-fluid .span25 {
  width: 25%;
  float: left;
}
.row .span20,
.row-fluid .span20 {
  width: 20%;
  float: left;
}
.row .span16,
.row-fluid .span16 {
  width: 16.6666%;
  float: left;
}

.hidden {
  display: none !important;
  visibility: hidden;
}
@media (min-width: 768px) and (max-width: 979px) {
  .jumbotron {
    padding: 20px 0;
  }
  .jumbotron h1 {
    font-size: 24px;
  }
  .jumbotron p {
    font-size: 12px;
  }
  .masthead {
    padding: 40px 0;
  }
  .masthead h1 {
    font-size: 48px;
  }
  .masthead p {
    font-size: 24px;
  }
  .masthead .btn-large {
    font-size: 14px;
    padding: 10px 14px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .jumbotron {
    padding: 20px 0;
  }
  .jumbotron h1 {
    font-size: 24px;
  }
  .jumbotron p {
    font-size: 14px;
  }
  .masthead {
    padding: 20px 0;
  }
  .masthead h1 {
    font-size: 24px;
  }
  .masthead p {
    font-size: 14px;
  }
  .masthead .btn-large {
    font-size: 12px;
    padding: 10px 14px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
  }
  .navbar-collapse-fixed-top,
  .navbar-collapse-fixed-bottom {
    border-top: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-collapse-fixed-top .nav-collapse,
  .navbar-collapse-fixed-bottom .nav-collapse {
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    margin: 0;
  }
  .navbar-collapse-fixed-top .nav-collapse.in,
  .navbar-collapse-fixed-bottom .nav-collapse.in {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .navbar-collapse-fixed-top .nav-collapse.in > *,
  .navbar-collapse-fixed-bottom .nav-collapse.in > * {
    -webkit-transform: translateZ(0);
  }
  .navbar-collapse-fixed-top .nav-collapse.animate,
  .navbar-collapse-fixed-bottom .nav-collapse.animate {
    overflow: hidden;
  }
  .navbar-collapse-fixed-bottom {
    bottom: 0;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .nav-collapse {
    bottom: 41px;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .btn-navbar {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 1.25;
  }
  h1 small {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    line-height: 1.25;
  }
  h2 small {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
    line-height: 1.25;
  }
  h3 small {
    font-size: 12px;
  }
  h4,
  h5,
  h6 {
    font-size: 12px;
    line-height: 1.25;
  }
  h4 small,
  h5 small,
  h6 small {
    font-size: 12px -2px;
  }
}

@media (max-width: 767px) {
  .t3-navhelper {
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-mainnav {
    background: #000;
    border-top: 1px solid #d9d9d9;
    height: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-mainnav:after {
    display: none;
  }
  .t3-mainnav .navbar-inner {
    min-height: 30px;
  }
  .t3-mainnav .navbar .btn-navbar:hover {
    cursor: pointer;
  }
  .t3-mainnav .nav-collapse {
    margin-top: 10px;
    background: #000;
  }
  .t3-mainnav .nav-collapse .nav {
    margin: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a {
    border-bottom: solid 1px #333;
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    margin-right: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > .separator {
    border-bottom: 1px solid #333333;
    border-radius: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    text-shadow: none;
    display: block;
    margin-right: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a,
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-bottom: solid 1px #333;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: none;
    font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .t3-mainnav .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a:hover {
    background-color: #222;
    background-image: none;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-top: 1px solid #d9d9d9;
    border-bottom: 0;
    font-weight: normal;
    padding: 10px 20px;
  }
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background-color: #666;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #444;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .t3-mainnav.navbar-collapse-fixed-top,
  .t3-mainnav.navbar-collapse-fixed-bottom {
    margin: 0;
  }
  .t3-mainnav.navbar-collapse-fixed-top .nav-collapse,
  .t3-mainnav.navbar-collapse-fixed-bottom .nav-collapse {
    margin: 0;
  }
  .t3-mainnav .navbar .nav > li > .dropdown-menu:before,
  .t3-mainnav .navbar .nav > li > .dropdown-menu:after,
  .t3-mainnav .navbar .nav > li > .dropdown-menu .divider {
    display: none;
  }
  .t3-mainnav .customization {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .t3-mainnav .navbar .nav > li > a {
    padding: 10px 10px;
  }
}
@media (max-width: 767px) {
  .t3-navhelper,
  .white-background .t3-navhelper {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsfeed-category .btn-toolbar .btn-group select {
    height: 30px;
    padding: 4px 6px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .contact .contact-form .contact-name,
  .contact .contact-form .contact-email {
    width: 100%;
  }
}
@media (max-width: 767px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
  .items-leading .leading {
    position: relative;
  }
  .items-leading .leading .span3.pull-left {
    width: 100px;
    position: absolute;
  }
  .items-leading .leading .span3.pull-left img {
    margin-bottom: 15px;
  }
  .items-leading .leading .row-fluid > .span9 {
    margin-left: 120px !important;
    width: auto;
    clear: none !important;
  }
  .items-leading .leading .article-aside {
    position: relative;
  }
  .items-leading .leading .article-aside .article-info.span9 {
    margin-left: 0 !important;
    width: 80%;
  }
  .items-leading .leading .article-aside .article-action-icon {
    position: absolute;
    right: 0px;
    top: 0;
  }
  .item-page {
    padding-bottom: 20px;
  }
  .item-page .article-aside {
    position: relative;
    min-height: 20px;
    margin-bottom: 5px;
    clear: left;
  }
  .item-page .article-aside .article-action-icon {
    position: absolute;
    right: 0px;
    top: 0;
  }
  .item-page .item-image img {
    margin-bottom: 15px;
  }
  .item-page .pull-left .item-image,
  .item-page .pull-right .item-image {
    margin-right: 0;
    margin-left: 0;
  }
  .content_rating img {
    vertical-align: top;
    margin-top: 4px;
  }
  .article-content .article-aside {
    height: auto;
    min-height: auto;
  }
  .article-aside .article-info,
  .article-aside .article-action-icon {
    width: auto !important;
  }
  .login-wrap {
    width: auto;
  }
  .login-wrap .well .control-group {
    width: 100%;
  }
  .login-wrap .well .control-group input[type="text"],
  .login-wrap .well .control-group input[type="password"] {
    width: 90%;
  }
  .login-wrap .other-links li {
    display: block;
    margin-right: 0;
  }
  .newsfeed-category .btn-toolbar input[type="text"] {
    width: 120px;
  }
  .newsfeed-category .btn-toolbar select {
    width: 90px;
  }
  .reset .form-horizontal .form-actions,
  .remind .form-horizontal .form-actions {
    padding-left: 0;
    padding-right: 0;
  }
  .contact .thumbnail {
    margin-bottom: 10px;
  }
  .contact .link-information {
    margin-bottom: 15px;
  }
  .contact .contact-form .contact-name,
  .contact .contact-form .contact-email {
    width: 100%;
  }
  div.itemImageBlock .modal {
    width: 95% !important;
    min-width: 95% !important;
  }
  div.itemImageBlock .modal-body {
    width: 95% !important;
    min-width: auto !important;
  }
  div.itemImageBlock div.itemVideoBlock div.itemVideoEmbedded iframe {
    width: 100% !important;
    height: auto !important;
  }
  div.itemImageBlock .jcarousel-skin-tango {
    display: none !important;
  }
}
@media (max-width: 360px) {
  .items-leading .leading .article-aside .article-info.span9 {
    width: 60%;
  }
  div.itemImageBlock div.itemVideoBlock div.itemVideoEmbedded iframe {
    width: 90% !important;
    height: auto !important;
  }
  div.itemImageBlock div.itemVideoEmbedded {
    width: 95% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-left: 16.4px;
    padding-right: 16.4px;
  }
  .t3-sl-1 .t3-spotlight-1 {
    margin-top: -100px;
  }
  .ja-slidewrap_default .ja-vertical_left:after {
    width: auto;
  }
  .t3-slideshow .ja-ss-desc {
    margin-left: -36%;
    width: 72%;
  }
  .t3-slideshow .ja-ss-desc h3,
  .t3-slideshow .ja-ss-desc h4,
  .t3-slideshow .ja-ss-desc h2 {
    font-size: 45px;
  }
  .ja-contentslider-left {
    left: 0 !important;
  }
  .ja-contentslider-right {
    right: 0 !important;
  }
  .ja-contentslider-home:hover .ja-contentslider-left,
  .ja-contentslider-home:hover .ja-contentslider-right {
    background-color: #ff5243;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .article-intro span.content_rating img {
    vertical-align: top;
    margin-top: 4px;
  }
  .t3-header .head-search form {
    top: 30px;
    right: 0;
  }
  div.catItemRatingBlock {
    padding: 15px 0 0 10px;
  }
  .catItemFooter .shareon {
    margin-right: 10px;
  }
  .ja-contentslider-left,
  .ja-contentslider-right {
    z-index: 1001;
  }
  #k2Container.itemView.movie-items {
    padding-left: 20px;
  }
  span.itemImage {
    margin-top: 0 !important;
  }
  #ezblog-body .blog-text img,
  #ezblog-body .blog-content img {
    width: 100% !important;
  }
  #ezblog-body .profile-avatar + .profile-info {
    margin: 0 0 0 80px;
  }
  #ezblog-body .blog-read .blog-title {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .t3-mainnav .row [class*="span"].pull-right {
    width: auto !important;
    margin-left: 10px !important;
  }
  .jamasshead h3 {
    font-size: 70px;
  }
  div.itemContainer,
  div.tagItemContainer,
  div.genericItemContainer,
  div.userItemContainer {
    width: 50% !important;
  }
  #subscription-message label {
    display: inline !important;
  }
  #ezblog-menu .blog-navi li.toolbar-item {
    border-right: none;
  }
  #ezblog-menu .blog-navi li ul {
    border: none;
  }
  #bloggers-sorting #frmBlogger input.width-200 {
    width: 150px;
  }
  #ezblog-menu .blog-navi .user-options {
    right: 0 !important;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .t3-mainbody {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .t3-sl {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .t3-footer {
    margin-left: 0px;
    margin-right: 0px;
  }
  .t3-footnav {
    padding: 0 0 20px 0;
    font-size: 10px;
  }
  .t3-footnav .footer-info .span4 {
    min-height: 0 !important;
  }
  .t3-footnav .module-title {
    font-size: 12px;
    font-weight: bold;
  }
  .t3-footnav .footer-info .span4 {
    border-right: none;
  }
  .t3-copyright {
    padding: 20px 20px 40px;
    *zoom: 1;
  }
  .t3-copyright:before,
  .t3-copyright:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .t3-copyright:after {
    clear: both;
  }
  .copyright,
  .poweredby {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .poweredby {
    margin-top: 10px;
  }
  .poweredby .t3-logo,
  .poweredby .t3-logo-small {
    float: none;
    display: inline-block;
  }
  .t3-mainnav {
    background: #151515;
    border: 0;
    border-bottom: solid 1px #222;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  }
  .t3-mainnav .container {
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-mainnav .row [class*="span"] {
    width: auto !important;
    display: inline-block;
  }
  .t3-mainnav .row [class*="span"].pull-right {
    float: right;
    margin-right: 10px;
  }
  .t3-mainnav .row [class*="span"].languageswitcherload {
    margin-right: 20px !important;
  }
  .t3-mainnav .navbar .btn-navbar {
    margin: 4px 10px 4px 20px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  .t3-mainnav .navbar .btn-navbar:hover,
  .t3-mainnav .navbar .btn-navbar:active,
  .t3-mainnav .navbar .btn-navbar:focus {
    background: #222;
  }
  .t3-header {
    margin-top: 45px;
    position: relative;
    padding: 0;
  }
  .t3-header .container {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .t3-header .span2,
  .t3-header .span4,
  .t3-header .span6 {
    width: auto !important;
    float: left;
    margin-left: 0 !important;
  }
  .t3-header .span4.pull-right {
    float: right;
  }
  .t3-header .logo-image {
    width: 110px;
    height: 30px;
    padding: 5px 0;
    margin-right: 20px;
  }
  .t3-header .logo-image a {
    background-position: left center;
  }
  .t3-header .head-search {
    border-left: solid 1px #e5e5e5;
    float: right;
    padding: 9px;
    width: 100%;
  }
  .t3-header .head-search {
    background: url("../../../images/ico/search-invert.png") no-repeat center center;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    width: 20px;
    height: 20px;
    position: relative;
  }
  .t3-header .head-search form {
    display: none;
    background: #fff;
    min-width: 180px;
    padding: 20px;
    text-align: left;
    left: auto;
    right: -10px;
    top: 28px;
    font-size: 11px;
    list-style: none;
    border: 0;
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
  }
  .t3-header .head-search:hover,
  .t3-header .head-search:focus,
  .t3-header .head-search:active {
    background-image: url("../../../images/ico/search-invert-hover.png");
    background-color: #ff5243;
  }
  .t3-header .head-search:hover form,
  .t3-header .head-search:focus form,
  .t3-header .head-search:active form {
    display: block;
    border-top: solid 2px #ff5243;
  }
  .t3-header .head-search input[type="text"] {
    background: url("../../../images/ico/search-invert.png") no-repeat 5px center;
    border: solid 1px #e5e5e5;
    padding: 5px 5px 5px 20px;
    width: 85%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .t3-header .top-search {
    position: absolute;
    right: 92px;
  }
  .t3-header .head-login {
    margin-right: -10px;
  }
  .t3-header .head-login .ja-login {
    text-align: right;
  }
  .t3-header .head-login .ja-login li {
    display: inline-block;
    float: left;
    margin: 0;
  }
  .t3-header .head-login .ja-login a.btn {
    width: 20px;
    height: 20px;
    text-indent: -999em;
    background-image: url("../../../images/ico/ico-login.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 10px;
    border: 0;
    border-left: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .t3-header .head-login .ja-login a.btn:hover,
  .t3-header .head-login .ja-login a.btn:active,
  .t3-header .head-login .ja-login a.btn.show {
    background-color: #ff5243;
    background-image: url("../../../images/ico/ico-login-white.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .t3-header .head-login .ja-login a.register-switch.btn {
    background-image: url("../../../images/ico/ico-password.png");
  }
  .t3-header .head-login .ja-login a.register-switch.btn:hover,
  .t3-header .head-login .ja-login a.register-switch.btn:active,
  .t3-header .head-login .ja-login a.register-switch.btn.show {
    background-image: url("../../../images/ico/ico-password-white.png");
  }
  .login .t3-header .top-search {
    right: 50px;
  }
  .head-login ul.ja-login li #ja-user-register,
  .head-login ul.ja-login li #ja-user-login {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 2px solid #ff5243;
    top: 28px;
  }
  .head-login ul.ja-login li #ja-user-register:before,
  .head-login ul.ja-login li #ja-user-login:before {
    border-bottom: 0;
  }
  ul.ja-login li #ja-user-register {
    min-width: 180px !important;
  }
  .t3-module.badge {
    white-space: normal;
  }
  .t3-sidebar {
    float: left;
  }
  ul.ja-login li  #ja-user-login,
  ul.ja-login li #ja-user-register,
  .ja-login li.dropdown .dropdown-menu {
    top: 38px !important;
  }
  .ja-login li.dropdown.open .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 2px solid #ff5243 !important;
  }
  .ja-login li.dropdown.open a.btn {
    background-color: #ff5243 !important;
    background-image: url("../../../images/ico/ico-login-white.png") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
  .t3-header .head-login .dropdown a.btn,
  .t3-header .head-login .ja-login a.register-switch.btn {
    border-right: solid 1px #e5e5e5;
  }
  .jamasshead {
    height: 80px;
  }
  .jamasshead h3 {
    font-size: 30px;
    line-height: 80px;
  }
  .ja-contentslider-center {
    width: 100% !important;
  }
  .banneritem img {
    width: 100% !important;
  }
  .thumbnail > img {
    width: 100% !important;
  }
  .t3-sidebar-1 .t3-module {
    float: left;
    width: 100%;
  }
  #k2Container {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .com_k2 div.tagItemHeader {
    padding: 10px;
  }
  .k2AccountPage input.inputbox {
    width: 40%;
  }
  div.tagItemContainer {
    float: none;
    width: 100% !important;
  }
  div.tagItemView {
    padding-bottom: 0;
  }
  .tagView {
    background: #111;
  }
  .genericItemContainer {
    float: none;
    width: 100% !important;
  }
  div.genericItemView {
    padding-bottom: 0;
  }
  .genericView {
    background: #111;
  }
  div.userItemContainer {
    float: none;
    width: 100% !important;
  }
  div.userItemView {
    padding-bottom: 0;
  }
  .userView {
    background: #111;
  }
  div.genericItemView {
    background: #111;
  }
  div.itemContainer {
    width: 100%;
    float: none !important;
    background: #111;
  }
  div.itemContainer .catItemView .catItemImageBlock .catItemImage img {
    width: 100% !important;
  }
  div.itemContainer div.catItemHeader {
    padding-bottom: 0;
  }
  .movie-items .itemList .itemContainer {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  div.itemImageBlock .btn {
    margin-bottom: 10px;
  }
  div.itemFullText h3.gallery-title {
    margin-bottom: 10px;
  }
  .k2ItemsBlock.badge {
    white-space: normal;
  }
  .k2ItemsBlock.badge ul li {
    white-space: normal;
  }
  span.itemImage {
    margin-top: 0;
  }
  span.itemImage img {
    width: 100% !important;
  }
  div.k2SearchBlock div.k2LiveSearchResults {
    min-width: 188px;
    left: auto;
    right: -10px;
    top: 104px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .tagItemView .tagItemImageBlock .tagItemImage img {
    width: 100% !important;
  }
  .itemContainer {
    width: 100% !important;
  }
  #ezblog-posts .blog-post-in .blog-avatar {
    float: left !important;
  }
  #ezblog-posts .blog-post-in .blog-avatar + .blog-cap {
    margin-left: 80px !important;
    clear: none !important;
  }
  #ezblog-body .tag-featured {
    vertical-align: baseline;
  }
  #ezblog-body .blog-post .blog-title,
  #ezblog-body .blog-post .blog-title a {
    font-size: 15px;
  }
  #ezblog-body .profile-item .profile-head .profile-avatar {
    float: left !important;
  }
  #ezblog-body .profile-item .profile-head .profile-info {
    clear: none !important;
    margin-left: 70px !important;
  }
  #ezblog-body .forBlogger .profile-head .profile-avatar {
    float: left !important;
  }
  #ezblog-body .forBlogger .profile-head .profile-info {
    clear: none !important;
    margin-left: 80px !important;
  }
  #ezblog-body .blog-brief .blog-avatar {
    float: left !important;
  }
  #ezblog-menu .blog-navi .user-form form .button {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #555;
    text-shadow: none;
  }
  #ezblog-menu .blog-navi .user-form form .button:hover,
  #ezblog-menu .blog-navi .user-form form .button:focus,
  #ezblog-menu .blog-navi .user-form form .button:active {
    color: #ff5243;
  }
  #ezblog-body .blog-read .blog-text,
  #eblog-wrapper.w320 #ezblog-body #socialbutton.alignright + .blog-text {
    margin-right: 0 !important;
  }
  #ezblog-body .blog-read .blog-title {
    margin-right: 0;
  }
  #eblog-wrapper #ezblog-featured .featured-meta .float-l.avatar {
    float: left !important;
  }
  #ezblog-body .blog-text img,
  #ezblog-body .blog-content img {
    width: 100% !important;
  }
  #ezblog-menu .blog-navi li ul li.user-info a.user-avatar {
    float: left;
    vertical-align: top;
    margin-top: 10px;
  }
  #ezblog-menu .blog-navi li ul li.user-info .dashboard-user {
    display: inline-block;
    margin-top: 10px;
  }
  #ezblog-menu .blog-navi li ul li.user-info .dashboard-user .user-name {
    padding-top: 0;
    padding-bottom: 0;
    display: block;
  }
  #ezblog-menu .blog-navi li ul li.user-info .dashboard-user br {
    display: none;
  }
  #comment-form .comment-form .comment-avatar {
    float: left !important;
    margin-right: 10px;
  }
  #comment-form .comment-avatar + .comment-content {
    margin-top: 0;
  }
  #comment-form .comment-form .comment-body #subscription-box .subscription-message label,
  #comment-form .comment-form .comment-body .form-row label {
    display: inline;
    word-wrap: normal;
  }
  #comment-form .comment-form .comment-body .form-row .label {
    white-space: inherit;
  }
  #comment-form .comment-form .comment-body .form-row .prm {
    width: 100%;
    padding-right: 0;
  }
  .comment-content .comment-body .form-row.half {
    width: 100% !important;
  }
  .comment-content .comment-body .form-row .mrm {
    margin-right: 0 !important;
  }
  #eblog-wrapper .blog-taglist.in-block {
    float: none !important;
  }
  #ezblog-menu .blog-navi li.toolbar-item {
    border-right: none;
  }
  #ezblog-menu .blog-navi li.toolbar-item .tip {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  #ezblog-menu .blog-navi li.toolbar-item:hover,
  #ezblog-menu .blog-navi li.toolbar-item:focus,
  #ezblog-menu .blog-navi li.toolbar-item:active {
    background: #ff5243 !important;
  }
  #ezblog-menu .blog-navi li.toolbar-item:hover .tip,
  #ezblog-menu .blog-navi li.toolbar-item:focus .tip,
  #ezblog-menu .blog-navi li.toolbar-item:active .tip {
    background: #ff5243 !important;
  }
  #ezblog-menu .blog-navi li.toolbar-item > a:hover,
  #ezblog-menu .blog-navi li.toolbar-item > a:focus,
  #ezblog-menu .blog-navi li.toolbar-item > a:active {
    color: #fff !important;
    background: none !important;
  }
  #ezblog-menu.narrow .blog-navi li ul {
    border: none;
    right: 1px;
  }
  #eblog-wrapper.w320 #ezblog-body .profile-avatar + .profile-info {
    display: inline-block;
  }
  #eblog-wrapper.w320 #ezblog-body .blog-avatar + .blog-cap {
    display: inline;
  }
  #widget-profile-account .reset-ul li input[type="text"] {
    width: 90%;
  }
  .pagination ul > li > a,
  .pagination ul > li > span {
    margin-bottom: 3px;
  }
  .movie-items div.pagination {
    margin: 0 10px;
    padding: 20px 0;
  }
  #eblog-wrapper .list-pagination {
    margin-top: 0;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .t3respon {
    display: none;
  }
}
@media (max-width: 480px) {
  .t3-footnav .footer-info .span4 {
    border-right: 0;
    border-bottom: 1px solid #2a2a2a;
    min-height: 0px;
    width: 100% !important;
  }
  .t3-footnav .footer-info .span4 .t3-module {
    margin: 0;
  }
  .t3-footnav .t3-spotlight .t3-module {
    padding-top: 0;
  }
  #finder-search input.inputbox {
    width: 95%;
    margin-bottom: 10px;
  }
  #ezblog-posts .blog-post-in .blog-meta-bottom .float-r {
    float: right !important;
  }
  #ezblog-posts .blog-meta-bottom .float-r {
    width: 100% !important;
    margin-bottom: 5px;
  }
  #ezblog-posts .blog-meta-bottom .float-r > span {
    float: left !important;
  }
}
@media (min-width: 360px) and (max-width: 640px) {
  #eblog-wrapper .in-block,
  #eblog-wrapper .float-r {
    float: right !important;
  }
}
@media (max-width: 360px) {
  #ezblog-body .slider-holder {
    height: 400px;
  }
}

